html{
	height: 100%;
}
body.login {
	height: 100%;
    border: 10px solid #e2e2e2;
}
body.login 
.btn {
    min-width: 160px;
}
.login-block{
	margin-top: 12%;
}
.navbar-brand,
.navbar-nav .nav-link{
	color: #fff;
}
.nav-item {
    margin-left: 50px;
}
.form-control{
	height: auto;
}

.table .form-control{
        margin: 0px auto;
}
.btn {
    color: #fff !important;
}
.title2{
	font-size: 18px;
}
.actual {
    background: transparent;
    /*border: 0px;*/
    width: 80px;
    text-align: center;
}
div#table_length {
    float: left;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    float: right;
}
div.dataTables_wrapper div.dataTables_filter input{
	    border: 1px solid #ccc;
}
.table td, .table th{
    position: relative;
    padding: 5px;
    text-align: center;
}
.bgPercent {
    background: #88c78d;
    position: absolute;
    height: 86%;
    top: 0;
    bottom: 0;
    left: 2px;
    margin: auto;
    z-index: 0;
    max-width: calc(100% - 5px);
}
.label-text {
    z-index: 1;
    position: relative;
    line-height: 40px;
}

.success{
    background-image: linear-gradient(to right, green , #40e940);
}

.danger{
    background-image: linear-gradient(to right, red , #f36358);
}
.dashboard thead th {
    background: #f7b554;
}
.title1{
    font-size: 24px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;padding:0.5em 1em;margin-left:2px;text-align:center;text-decoration:none !important;cursor:pointer;*cursor:hand;color:#333 !important;border:1px solid transparent;border-radius:2px}.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#333 !important;border:1px solid #979797;background-color:#fff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666 !important;border:1px solid transparent;background:transparent;box-shadow:none}.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white !important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;background-color:#2b2b2b;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);box-shadow:inset 0 0 3px #111}

.accordion{
    padding-left: 40px;
}
.container-fluid>.accordion{
    padding-left: 0px;
}